<%= form_for [@discussion, @comment] do |f| %>
  <div class="form-group">
    <%= f.hidden_field :parser %>
    <%= f.text_area :content, class: 'simditor' %>
  </div>

  <div class="form-group">
    <%= f.submit %>
  </div>
<% end %>