body.discussions.action_show {
  article.disscussion {
    background-color: #f7f7f7;
    padding: 15px;
    margin-bottom: 15px;
  }

  #comments {
    margin-bottom: 15px;

    ul.comments {
      list-style: none;
      margin: 0 0 15px 0;
      padding: 0;

      li {
        background-color: #f7f7f7;
        padding: 15px;
        margin-bottom: 15px;
      }
    }

    .form-group {
      margin-bottom: 15px;

      input[type=submit] {
        padding: 5px 10px;
      }
    }
  }
}