html, body {
  margin: 0;
  padding: 0;
}

.header {
  padding: 15px 0;
  background: #e8e8e8;

  a {
    text-decoration: none;
  }

  .brand {
    margin-right: 20px;
  }
}

.container {
  margin: 0 30px;
}